.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    font-size: 50px;
}

#img-2 {
    display: none;
}

#img-3 {
    display: none;
}